page-reset-password {
  ::-webkit-input-placeholder { text-align:right; }
  ::-webkit-select-placeholder { text-align:right; }

  /* mozilla solution */
  input:-moz-placeholder { text-align:right; }
  select:-moz-placeholder { text-align:right; }
  placeholder{
    text-align: right
  }
    .invalid {
      border-bottom: 1px solid #FF6153;
    }

  ion-input{
    max-width: 333px;
    max-height: 54px;
    color: #000;
    margin: 20px;
    padding: 6px;
    border: 1px solid #487EB0
  }






}
